

/*HEADER*/
header{
    background: black;
    padding:20px;
    color:white;
    text-align:center;
    font-size: 13px;
    
}

header .mobile {
    display:none;
}

a{
    text-decoration: none;
    color:white;
}
#casa{
    font-style: oblique;
    justify-content: center;
    align-items: center;
    text-align: center;


}
ul{
    margin:0;
    padding:0;
    list-style-type:none;

}

li{
    display:inline-block; /*Esto es para que se pongan en linea*/
    margin: 20px;
}


a:hover{
    text-decoration: underline;
}


/*RESPONSIVE RULES*/
@media screen and (max-width: 299px){
    header .mobile{
        display: inline-block;
    }
    header .desktop{
        display: none;
    }
}

#Alojamiento{
    background-color: lightblue;
    background-size: 10px 10px;
    padding:20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}
h2{
    text-align: center;
    font-style: oblique;
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
/*FEATURES*/
#features{
    background:white;
    color:gray;
    padding:20px;
    display:flex; /*Esto es para que se pongan en linea*/
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    

}


#features .imagen {
    margin:auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    

}
#features .imagen img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
    object-fit: cover; /*Esto es para que la imagen se adapte al tamaño del contenedor*/
    border: 1.3px solid lightcoral;
    
}

#features .imagen a{
    text-align: center; /* Centra el contenido horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: black; /* Cambia el color del texto del título */
    
}
 .imagen p {
    color: black;
}
.imagen p:hover {
    text-decoration: underline;
    margin-top: 10px; 
    line-height: 1.2; 
}

#features .imagen a:hover{
    text-decoration: underline;
}


/*BODY*/

body{
    margin:0;

}

/*Esto es del body reserva*/
.formulario-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
  
  }
  
  .gracias-container h1{
    text-align: center;
  }

  @media screen and (max-width: 600px) {
    .formulario-container {
      width: 90%;
    }
  }
form{
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width: 340px;

}

.input-group{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    color:black;
    font-size: 15px;
    font-weight: 600;
    margin-bottom:15px;
}

input, textarea{
    padding: 15px 27px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border:2px solid #F0FAF1;
    color:black;
    outline:none;

}

.btn{
    font-size: 16px;
    color: #FFFFFF;
    border:0;
    border-radius: 25px;
    background-color: #51D94C;
    box-shadow: 0 0 20px 0 rgba(25, 254, 0, 0.4);
    cursor:pointer;
}

.btn:hover{
    background-color: #50E04B;


}

@media screen and (max-width: 600px) {
    .formulario-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    form {
      width: 340px;
      padding: 50px 55px;
    }
  }

/*CASA PRINCIPAL*/
.imagen-principal {
    text-align: center;
  }
  
  .imagen-principal img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  
  .texto{
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    text-align: justify;
    
  }



  /*Esto es del body ubicacion*/
  .map-container {
    outline: 2px solid blue; /* Agrega un marco al contenedor del mapa */
    display: flex; /* Añade un contenedor flexible para centrar el mapa */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    width: 100%; /* Permite que el contenedor ocupe todo el ancho disponible */
    height: 100vh; /* Ajusta la altura al tamaño de la ventana visible */
    box-sizing: border-box; /* Incluye el borde en las dimensiones del contenedor */
  }
  
  #map iframe {
    width: 100%; /* Hace que el mapa ocupe todo el ancho del contenedor */
    height: 100%; /* Hace que el mapa ocupe toda la altura del contenedor */
  }
.fixed {
    position: fixed;
    position: fixed;
  bottom: 0;
  right: 0;
  background: #00D1AE;
  opacity: 0.8;
  color: #111;
  border: 3px solid #00D1AE;
  font-weight: bold;
  width: 100%;
  margin-right: 0px;
  border: none;
  z-index: 1; 
  }

.fixed{
    display:flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: baseline;

  }

  .cuadrado1{
    background-color: green;
    
  }
 
    
  
  .cuadrado2{
    background-color: blue;
    
  }
  .cuadrado3{
    background-color: violet;
    
  }
  .cuadrado4{
    background-color: orange;
    
  }
    
    .cuadrado {
        position: relative; /* Para poder posicionar el contenido interno */
        flex-grow: 1;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 70px;
        flex-direction: column;
        overflow: hidden; /* Para que no se salga el contenido */
        padding: 5px;

    }

    .cuadrado img{
       width: 30px;
       height: 30px;
       object-fit: contain;
    

    }
    .cuadrado p{
        text-align: center; /* Centra el contenido horizontalmente */
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: white; /* Cambia el color del texto del título */
    font-size: 13px;
    margin: 5px;

    }
    
    /*BODY DE SAN AMADOR*/

    #trabajando {
        display: flex;
        justify-content: center;
        margin: 0;
      }
      
      #trabajando img {
        max-width: 100%;
      }
      
      @media screen and (max-width: 768px) {
        #trabajando {
          flex-direction: column;
        }
      }



    /*FOOTER*/
    footer{
        background: black;
        padding:20px 20px;
        color:gray;
        text-align:center;
        font-size: 12px;
    }