header{
    background: black;
    padding:20px;
    color:white;

}
#casa{
    font-style: oblique;
}
section{
    background:white;
    color:gray;
    padding:20px;
    display:flex; /*Esto es para que se pongan en linea*/
    flex-direction: row;
}

div{
    background:blue;
    margin:auto;
    width: 100px;

}

footer{
    background: black;
    padding:20px;
    color:white;
    text-align:center;
}

ul{
    margin:0;
    padding:0;
    list-style-type:none;

}

li{
    display:inline-block; /*Esto es para que se pongan en linea*/
    margin: 20px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration: underline;
}

body{
    margin:0;
}